{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="p-3">Categories</h2>
    <div class="listing-card p-4">
        <ul>
            {% for category in categories %}
                {% if category %}
                    <li>
                        <a href="{% url 'category_listings' category %}">
                            {{ category }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}