{% extends "auctions/layout.html" %}

{% block body %}
    {% for listing in listings %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px;">
        
            <h3>
            <a href="{% url 'listing_page' listing.id %}">
                {{ listing.title }}
            </a>
            
            {% if listing.id in watchlist_ids %}
                <span class="badge badge-warning ml-2">
                    In Watchlist
                </span>
            {% endif %}

            </h3>

            {% if listing.image_url %}
            <img src="{{ listing.image_url }}" width="200">
            {% endif %}

            <p>{{ listing.description }}</p>

            <p>
            Price: ${{ listing.starting_bid }}
            </p>

        </div>
    {% endfor %}

{% endblock %}